@model IEnumerable<Capa_Entidad.Users>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">List Of The Users</h2>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !!</strong> @TempData["SuccessMessage"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span>&times;</span>
        </button>
    </div>
}
@section Styles{
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<table class="table table-bordered table-hover table-responsive" id="myTable">
    <thead>
        <tr>
            <th>
                <label>Users identifier</label>
            </th>
            <th>
                <label>Email</label>
            </th>
            <th>
                <label>Password</label>
            </th>
            <th>
                <label>Action</label>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_User)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Edit", "Users", new { id=item.Id_User})"> <i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $('#myTable').DataTable();
    </script>
}
